
body {
  background-color: grey;
}

.main_container {
  display: block;
  margin: 0 auto;
  width: 700px;
}

.container {
  display: inline-block;
  width: 680px;
  background-color: white;
  border: dotted black 2px;
  padding: 0px 25px 0px 25px;
  margin: 20px;
}

.login {
    width: 250px;
    display: inline-block;
    vertical-align: top;
    margin: 20px;
    margin-top: 0px;
}

.register {
    width: 250px;
    display: inline-block;
    vertical-align: top;
    margin: 20px;
    margin-top: 0px;
}

.form_title {
    text-align: center;
}

p {
    margin-top: 10px;
    margin-bottom: 0px;
}

h1 {
    text-align: center;
}


.subtitle {
    text-align: center;
    font-size: 15px;
    color: grey;
    font-style: italic;
    margin: 0;
}
